// style of checkbox
input[type="checkbox"] {
  display: none;
  & + label {
      display: block;
      position: relative;
      padding-left: 30px;
      margin-bottom: 20px;
      font: "Open Sans", Arial, sans-serif;
      color: $dark-color;
      cursor: pointer;

      &:last-child {
          margin-bottom: 0;
      }
      &:before {
          content: "";
          display: block;
          width: 24px;
          height: 24px;
          border: 2px solid $secondary-color;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0.6;
          -webkit-transition: all 0.12s, border-color 0.08s;
          transition: all 0.12s, border-color 0.08s;
      }
  }
  &:checked + label:before {
      width: 10px;
      top: -5px;
      left: 5px;
      border-radius: 0;
      opacity: 1;
      border-top-color: transparent;
      border-left-color: transparent;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
  }
}