.RegularLabel {
    border-radius: 100px;
    padding: 4px 10px;
    font-size: 0.6rem;
    text-align: center;
    min-width: 50px;
    border: 1px solid $warning-color;
    color: $warning-color;
}
