.welcome{
  &-ProjectCard {
    display: flex; 
    flex-flow: row wrap;
    width: 100%;
    @include max-screen($breakpoint-pc) {
      justify-content: center;
    }
  }
  &-Checkbox {
    padding: 20px;
    display: flex;
    border: 2px solid $secondary-color;
    border-top: 0;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}