.BreadCrumb {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block; /*横に並ぶように*/
        list-style: none;
        font-weight: bold; /*太字*/
        &:after {
            /* ▶を表示*/
            content: ">";
            padding: 0 0.2em;
            color: $primary-color
        }
        &:last-child:after {
            content: "";
        }
        a {
            display: inline-block;
            padding: 0.2em 0.8em;
            border-radius: 15px;
            text-decoration: none;
            color: $light-color;
            background: $primary-color;
            font-size: 0.9em;
            &:hover {
                background: $primary-dark-color;
            }
        }
    }
}
