.ProjectDetailTable{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  &__row {
    border-top: 5px solid $muted-lightest-color;
  }
  &__head {
    line-height: 1.2em;
    background-color: $muted-lighter-color;
    font-weight: normal;
    padding: 10px 0;
    width: 100px;
    box-sizing: border-box;
    @include max-screen($breakpoint-sp){
      display: block;
      width: auto;
      min-width: 50px;
      overflow: hidden;
      clear: both;
    }
  }
  &__body {
    padding: 10px;
    @include max-screen($breakpoint-sp){
      display: block;
    }
  }
}