.SideColumnTable {
  width: 100%;
  border-collapse: collapse;

  tr {
    border: solid 1px $muted-lighter-color;
    border-bottom: none;
    &:last-child {
      border-bottom:solid 1px $muted-lighter-color;
    }
  }
  th {
    background: $muted-color;
    color: $light-color;
    padding: 10px;
    text-align: left;
    margin-bottom: 0;
  }

  td {
    padding: 10px;
  }
}

