.p-counterUnit {
  display: flex;
  flex-flow: row wrap;

  .p-counter {
    padding: 0 40px;
    border-right: 1px solid $muted-light-color;
  }

  $this: &;

  &--col2 {
    @extend #{$this};

    .p-counter {
      width: 33%;
      @include max-screen($breakpoint-pc) {
        margin-top: 10px;
        width: 50%;
        white-space: nowrap;
      }
    }

    // psで3カラム目は右ボーダーを消す
    & > .p-counter:nth-of-type(3n) {
      @include min-screen($breakpoint-pc) {
        border-right: none;
      }
    }

    // spで2カラムの時は右ボーダーを消す
    & > .p-counter:nth-of-type(2n) {
      @include max-screen($breakpoint-pc) {
        border-right: none;
      }
    }
  }
}
