.p-drawerContents {
  position: absolute;
  left: -30%;
  z-index: 998;
  background: rgba($primary-color, .9);
  width: 30%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
  @include max-screen($breakpoint-pc) {
    left: -90%;
    width: 70%;
  }
  &.js-active {
    left: 0;
  }

  a {
    @include max-screen($breakpoint-pc) {
      display: flex;
    }
    img {
      filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
    }
    span {
      color: $light-color;
      font-weight: bold;
      @include max-screen($breakpoint-pc) {
        display: block;
      }
    }
  }
}
