.p-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  $this: &;

  &--col2 {
    @extend #{$this};

    .p-flex__item {
      width: 49%;
      margin-top: 10px;

      // 先頭二つ目までの挙動
      &:nth-of-type(-n + 2) {
        margin-top: 0;
        @include max-screen($breakpoint-pc) {
          margin-top: 10px;
        }
      }

      // 先頭の挙動
      &:nth-of-type(-n + 1) {
        @include max-screen($breakpoint-pc) {
          margin-top: 0;
        }
      }

      // sp時幅を100%にする
      @include max-screen($breakpoint-pc) {
        width: 100%;
      }
    }
  }
}
