.p-header {
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid $muted-lighter-color;
  &__loginWrap {
    width: 100%;
    max-width: $content-max-width;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  &__logo {
    margin-right: auto;
    align-self: center;
    padding: 10px;
  }
  &__textLink {
    padding: 10px;
    align-self: center;
    color: $dark-color;
    display: flex;
    @include max-screen($breakpoint-pc) {
      display: none;
    }
    &:hover {
      color: $muted-color;
    }
    span {
      display: block;
      @include max-screen($breakpoint-pc) {
        display: none;
      }
    }
  }
}
