.p-inputGroup {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  @include max-screen($breakpoint-pc) {
    flex-flow: column;
  }
  &__title {
    align-self: center;
    padding-right: 5px;
    width: auto;
    @include max-screen($breakpoint-pc) {
      align-self: flex-start;
    }
  }
  &__item {
    width: auto;
  }
}
