.p-list {
  border: 1px solid $muted-light-color;
  padding: 0;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.04) 0 3px 1px;

  &__item {
    background: $light-color;
    border-bottom: 1px solid $muted-light-color;

    &:last-child {
      border-bottom: none;
      border-radius: 0 0 3px 3px;
    }

    $this: &;

    &--header {
      @extend #{$this};
      padding: 10px 15px;
      background: $muted-lighter-color;
      border-radius: 3px 3px 0 0;

      &:hover,
      &:focus {
        background: $muted-lighter-color;
      }
    }
  }

  &__itemInner {
    color: $dark-color;
    padding: 12px;
    display: block;

    &:hover,
    &:focus {
      color: $dark-color;
      background: $muted-lightest-color;
    }
  }
}
