.p-searchTab {
  width: 100%;
  max-width: $content-max-width;
  display: flex;
  margin: 0 auto;
  border-bottom: 2px solid $secondary-color;
  justify-content: center;

  &__item {
    width: 25%;
    margin: 0 5px;
    background-color: $muted-lighter-color;
    border-radius: 3px 3px 0 0;
    text-align: center;
    padding: 10px;
    font-size: 1.4rem;
    @include max-screen($breakpoint-pc) {
      width: 33%;
      margin: 0 3px;
      font-size: 1.2rem;
    }

    &:hover {
      cursor: pointer;
    }

    &.js-tab.is-active {
      background-color: $secondary-color;
      color: $light-color;
    }
  }
}
