.p-table {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 20px;
  @at-root {
    &__head {
      background-color: $muted-lighter-color;
      border: 1px solid $muted-light-color;
    }

    &__headRowItem {
      padding: 8px;
      padding-right: 22px;
      background-position: center right 5%;
      background-repeat: no-repeat;
      cursor: pointer;
      background-image: url("/image/common/sort-solid.svg");
      background-size: 8px;
      font-size: 12px;
      $this: &;

      &--edit {
        @extend #{$this};
        background-image: none;
      }
    }

    &__bodyRow {
      border: 1px solid $muted-light-color;
      background-color: $light-color;

      &:hover {
        background-color: $muted-lighter-color;
        cursor: pointer;
      }
    }

    &__bodyRowItem {
      padding: 8px;
      font-size: 13px;
      border-color: inherit;
      color: $dark-color;
      vertical-align: middle;
      $this: &;
      &--textCenter{
        @extend #{$this};
        text-align: center;
      }
    }

    &__bodyRowItemInner {
      width: 13px;
      margin: 0 auto;
    }
  }
}
