.p-userRegister {
  margin-top: 30px;

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    @include max-screen($breakpoint-pc) {
      flex-flow: column wrap;
    }
  }

  &__input {
    background-color: #fff;
    $this: &;
  }

  &__title {
    align-self: center;
    @include max-screen($breakpoint-pc) {
      align-self: flex-start;
    }
  }

  &__inputUnit {
    display: flex;
    @include max-screen($breakpoint-pc) {
      margin-bottom: 10px;
      justify-content: space-between;
    }
    $this: &;

    &--single {
      @extend #{$this};
      @include min-screen($breakpoint-pc) {
        justify-content: flex-end;
      }
    }
  }

  &__inputUnitWrap {
    display: flex;
    width: 70%;
    justify-content: space-between;
    @include max-screen($breakpoint-pc) {
      flex-flow: column wrap;
      width: 100%;
    }
    $this: &;

    &--2col {
      @extend #{$this};

      .p-userRegister__inputUnit {
        @include min-screen($breakpoint-pc) {
          width: 50%;
          justify-content: flex-end;
        }
      }
    }
  }

  &__inputName {
    align-self: center;
    margin-right: 10px;
  }
}
