/* breakpoint */
/* color */
/* max min width */
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #f4f7f8;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: #333333;
}

input:focus {
  outline: none;
}

a:hover,
a:active,
a:focus {
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.l-header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.l-container, .l-container--2col {
  margin-top: 20px;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 90px;
}

@media screen and (max-width: 768px) {
  .l-container, .l-container--2col {
    max-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.l-container--2col {
  display: flex;
}

@media screen and (max-width: 768px) {
  .l-container--2col {
    flex-flow: column;
  }
}

.l-container--2col .l-sidebar {
  padding-left: 20px;
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  .l-container--2col .l-sidebar {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}

.l-container--2col .l-main {
  padding-left: 10px;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .l-container--2col .l-main {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    width: 100%;
  }
}

.l-sidebar {
  width: 25%;
}

.l-main {
  width: 75%;
}

.c-button, .c-button--secondary {
  display: inline-block;
  max-width: 100%;
  padding: 10px 15px;
  background-color: #42b5d1;
  border-radius: 3px;
  color: #ffffff;
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
  text-decoration: none;
  transition: .25s;
}

.c-button:focus, .c-button--secondary:focus, .c-button:hover, .c-button--secondary:hover {
  background-color: #2c99b4;
}

.c-button--secondary {
  background-color: #4bc1c1;
}

.c-button--secondary:focus, .c-button--secondary:hover {
  background-color: #3fa0a0;
}

.c-text, .c-text--bold, .c-text--center, .c-text--warning {
  font-size: 1.4rem;
  margin: 0;
  color: #333333;
  text-decoration: none;
}

.c-text--bold {
  font-weight: bold;
}

.c-text--center {
  text-align: center;
}

.c-text--warning {
  color: #F9627D;
}

.c-tag {
  font-size: 1.4rem;
  background-color: #88889f;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
}

.c-tag:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #606089;
}

.c-input, .c-input--light {
  width: 100%;
  border: 1px solid #dfe4e7;
  border-radius: 3px;
  font-size: 14px;
  padding: 6px 12px;
  display: inline-block;
}

.c-input--light {
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .c-input, .c-input--light {
    width: 100%;
  }
}

.c-icon--clickable {
  cursor: pointer;
}

.c-select {
  position: relative;
  display: block;
  width: 100%;
}

.c-select::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  width: 0;
  height: 0;
  margin: -2px 0 0 0;
  border: 5px solid transparent;
  border-top: 7px solid #42b5d1;
}

.c-select select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #cdcddf;
  border-radius: 0;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 12px;
  display: inline-block;
}

.p-mainItem {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #cdcddf;
  box-shadow: rgba(0, 0, 0, 0.04) 0 3px 1px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .p-mainItem {
    padding: 15px;
  }
}

.p-cardUnit, .p-cardUnit--col3 {
  display: flex;
  flex-wrap: wrap;
}

.p-cardUnit--col3 {
  margin-bottom: -30px;
}

@media screen and (max-width: 768px) {
  .p-cardUnit--col3 {
    margin-bottom: -20px;
  }
}

.p-cardUnit--col3 > .p-card:nth-of-type(3n) {
  margin-right: 0;
}

.p-cardUnit > .p-card, .p-cardUnit--col3 > .p-card {
  width: 31.707%;
  margin-right: 2.43902%;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .p-cardUnit > .p-card, .p-cardUnit--col3 > .p-card {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.p-card {
  padding: 20px;
  box-shadow: 0 3px 5.7px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.p-card__title {
  min-height: 50px;
  display: block;
}

.p-card__title:hover {
  text-decoration: underline;
  color: #333333;
}

.p-card__table {
  margin-bottom: 20px;
  width: 100%;
}

.p-card__sub-title {
  margin-bottom: 5px;
}

.p-header {
  width: 100%;
  background-color: #f4f7f8;
  border-bottom: 1px solid #dfe4e7;
}

.p-header__container {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.p-header__logo {
  width: 100px;
}

.p-nav__list {
  display: flex;
  flex-flow: row wrap;
}

.p-nav__item {
  margin-right: 10px;
}

.p-nav__item:last-child {
  margin-right: 0;
}

.p-searchTab {
  width: 100%;
  max-width: 960px;
  display: flex;
  margin: 0 auto;
  border-bottom: 2px solid #4bc1c1;
  justify-content: center;
}

.p-searchTab__item {
  width: 25%;
  margin: 0 5px;
  background-color: #dfe4e7;
  border-radius: 3px 3px 0 0;
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
}

.p-searchTab__item:hover {
  cursor: pointer;
}

.p-searchTab__item.js-tab.is-active {
  background-color: #4bc1c1;
  color: #ffffff;
}

.p-checkboxUnit {
  padding: 20px;
  display: flex;
  border: 2px solid #4bc1c1;
  border-top: 0;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.p-checkboxUnit__item {
  margin-bottom: 30px;
  margin-right: 10px;
}

.p-checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 18px;
}

.p-checkbox input:checked ~ .p-checkbox__indicator {
  background-color: #4bc1c1;
  display: block;
}

.p-checkbox__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #dfe4e7;
}

.p-checkbox__indicator::after {
  display: block;
  left: 7px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  content: "";
  position: absolute;
}

.p-userRegister {
  margin-top: 30px;
}

.p-userRegister__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .p-userRegister__row {
    flex-flow: column wrap;
  }
}

.p-userRegister__input {
  background-color: #fff;
}

.p-userRegister__title {
  align-self: center;
}

@media screen and (max-width: 768px) {
  .p-userRegister__title {
    align-self: flex-start;
  }
}

.p-userRegister__inputUnit, .p-userRegister__inputUnit--single {
  display: flex;
}

@media screen and (max-width: 768px) {
  .p-userRegister__inputUnit, .p-userRegister__inputUnit--single {
    margin-bottom: 10px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .p-userRegister__inputUnit--single {
    justify-content: flex-end;
  }
}

.p-userRegister__inputUnitWrap, .p-userRegister__inputUnitWrap--2col {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .p-userRegister__inputUnitWrap, .p-userRegister__inputUnitWrap--2col {
    flex-flow: column wrap;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .p-userRegister__inputUnitWrap--2col .p-userRegister__inputUnit, .p-userRegister__inputUnitWrap--2col .p-userRegister__inputUnit--single {
    width: 50%;
    justify-content: flex-end;
  }
}

.p-userRegister__inputName {
  align-self: center;
  margin-right: 10px;
}

.p-list {
  border: 1px solid #cdcddf;
  padding: 0;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.04) 0 3px 1px;
}

.p-list__item, .p-list__item--header {
  background: #ffffff;
  border-bottom: 1px solid #cdcddf;
}

.p-list__item:last-child, .p-list__item--header:last-child {
  border-bottom: none;
  border-radius: 0 0 3px 3px;
}

.p-list__item--header {
  padding: 10px 15px;
  background: #dfe4e7;
  border-radius: 3px 3px 0 0;
}

.p-list__item--header:hover, .p-list__item--header:focus {
  background: #dfe4e7;
}

.p-list__itemInner {
  color: #333333;
  padding: 12px;
  display: block;
}

.p-list__itemInner:hover, .p-list__itemInner:focus {
  color: #333333;
  background: #f4f7f8;
}

.p-level2Heading {
  padding-bottom: 10px;
  border-bottom: 2px solid #42b5d1;
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.p-sideColumnTable {
  width: 100%;
  border-collapse: collapse;
  display: block;
  overflow-x: scroll;
}

.p-sideColumnTable tr {
  border: solid 1px #dfe4e7;
  border-bottom: none;
}

.p-sideColumnTable tr:last-child {
  border-bottom: solid 1px #dfe4e7;
}

.p-sideColumnTable th {
  background: #42b5d1;
  color: #ffffff;
  padding: 10px;
  text-align: left;
  margin-bottom: 0;
  width: 1px;
  white-space: nowrap;
  vertical-align: middle;
}

.p-sideColumnTable td {
  padding: 10px;
  width: 100%;
}

.p-formGroupUnit, .p-formGroupUnit--2col {
  display: flex;
  flex-flow: row wrap;
}

@media screen and (max-width: 768px) {
  .p-formGroupUnit, .p-formGroupUnit--2col {
    flex-flow: column wrap;
  }
}

.p-formGroupUnit--2col__item {
  width: 50%;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .p-formGroupUnit--2col__item {
    width: 100%;
  }
  .p-formGroupUnit--2col__item input {
    width: 100%;
  }
}

.p-formGroupUnit--2col__title {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.p-formGroupUnit--2col__title p {
  width: 50%;
}

.p-formGroupUnit--2col__itemForSkill {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
  width: 95%;
}

@media screen and (max-width: 768px) {
  .p-formGroupUnit--2col__itemForSkill {
    width: 90%;
  }
}

.p-formGroupUnit--2col__itemForSkill:after {
  content: url(/images/icons/icon_trush.png);
  position: absolute;
  top: 50%;
  right: -25px;
  margin-top: -12px;
  cursor: pointer;
}

.p-formGroupUnit--2col__itemForSkill select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #cdcddf;
  border-radius: 0;
  cursor: pointer;
}

.p-formGroupUnit--2col__label, .p-formGroupUnit--2col__label--after {
  position: relative;
  display: block;
  width: 49%;
}

.p-formGroupUnit--2col__label::before, .p-formGroupUnit--2col__label--after::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  width: 0;
  height: 0;
  margin: -2px 0 0 0;
  border: 5px solid transparent;
  border-top: 7px solid #42b5d1;
}

@media screen and (max-width: 768px) {
  .p-formGroupUnit--2col__label::before, .p-formGroupUnit--2col__label--after::before {
    right: 3px;
  }
}

@media screen and (max-width: 768px) {
  .p-formGroupUnit--2col__label, .p-formGroupUnit--2col__label--after {
    width: 55%;
  }
}

.p-formGroupUnit--2col__label--after {
  width: 45%;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .p-formGroupUnit--2col__label--after {
    width: 38%;
  }
}

.p-formGroup {
  display: flex;
  flex-flow: column;
}

.p-searchBox {
  display: flex;
  justify-content: center;
}

.p-searchBox__input {
  margin-right: 10px;
  width: 40%;
  border-color: #cdcddf;
}

@media screen and (max-width: 768px) {
  .p-searchBox__input {
    width: 75%;
  }
}

.p-searchBox__button {
  width: 10%;
}

@media screen and (max-width: 768px) {
  .p-searchBox__button {
    width: 25%;
  }
}

.p-register {
  display: flex;
  flex-flow: column wrap;
}

.p-register__row, .p-register__row--spColumn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-flow: row wrap;
  border-bottom: 1px solid #cdcddf;
  padding-bottom: 30px;
}

.p-register__row--spColumn {
  flex-flow: row wrap;
}

@media screen and (max-width: 768px) {
  .p-register__row--spColumn {
    flex-flow: column wrap;
  }
}

@media screen and (max-width: 768px) {
  .p-register__row--spColumn .p-register__itemWrap, .p-register__row--spColumn .p-register__itemWrap--2col {
    width: 100%;
  }
}

.p-register__title {
  align-self: center;
}

.p-register__itemWrap, .p-register__itemWrap--2col {
  display: flex;
  width: 70%;
  flex-flow: column;
}

.p-register__itemWrap--2col {
  flex-flow: row wrap;
}

@media screen and (max-width: 768px) {
  .p-register__itemWrap--2col {
    flex-flow: column wrap;
  }
}

.p-register__itemWrap--2col .p-register__item {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .p-register__itemWrap--2col .p-register__item {
    width: 100%;
  }
}

.p-register__item {
  width: 100%;
  display: flex;
}

.p-register__item--trash {
  position: relative;
}

.p-register__item--trash:after {
  content: url(/images/icons/icon_trush.png);
  position: absolute;
  top: 50%;
  right: -25px;
  margin-top: -12px;
  cursor: pointer;
}

.p-register__itemPart {
  align-self: center;
}

.u-db {
  display: block !important;
}

.u-df {
  display: flex;
}

.u-ff-column {
  flex-flow: column wrap;
}

.u-ff-row {
  flex-flow: row wrap;
}

.u-as-center {
  align-self: center;
}

.u-m-0 {
  margin: 0px;
}

.u-mt-0 {
  margin-top: 0px !important;
}

.u-mr-0 {
  margin-right: 0px !important;
}

.u-mb-0 {
  margin-bottom: 0px !important;
}

.u-ml-0 {
  margin-left: 0px !important;
}

.u-m-5 {
  margin: 5px;
}

.u-mt-5 {
  margin-top: 5px !important;
}

.u-mr-5 {
  margin-right: 5px !important;
}

.u-mb-5 {
  margin-bottom: 5px !important;
}

.u-ml-5 {
  margin-left: 5px !important;
}

.u-m-10 {
  margin: 10px;
}

.u-mt-10 {
  margin-top: 10px !important;
}

.u-mr-10 {
  margin-right: 10px !important;
}

.u-mb-10 {
  margin-bottom: 10px !important;
}

.u-ml-10 {
  margin-left: 10px !important;
}

.u-m-15 {
  margin: 15px;
}

.u-mt-15 {
  margin-top: 15px !important;
}

.u-mr-15 {
  margin-right: 15px !important;
}

.u-mb-15 {
  margin-bottom: 15px !important;
}

.u-ml-15 {
  margin-left: 15px !important;
}

.u-m-20 {
  margin: 20px;
}

.u-mt-20 {
  margin-top: 20px !important;
}

.u-mr-20 {
  margin-right: 20px !important;
}

.u-mb-20 {
  margin-bottom: 20px !important;
}

.u-ml-20 {
  margin-left: 20px !important;
}

.u-m-25 {
  margin: 25px;
}

.u-mt-25 {
  margin-top: 25px !important;
}

.u-mr-25 {
  margin-right: 25px !important;
}

.u-mb-25 {
  margin-bottom: 25px !important;
}

.u-ml-25 {
  margin-left: 25px !important;
}

.u-m-30 {
  margin: 30px;
}

.u-mt-30 {
  margin-top: 30px !important;
}

.u-mr-30 {
  margin-right: 30px !important;
}

.u-mb-30 {
  margin-bottom: 30px !important;
}

.u-ml-30 {
  margin-left: 30px !important;
}

.u-m-35 {
  margin: 35px;
}

.u-mt-35 {
  margin-top: 35px !important;
}

.u-mr-35 {
  margin-right: 35px !important;
}

.u-mb-35 {
  margin-bottom: 35px !important;
}

.u-ml-35 {
  margin-left: 35px !important;
}

.u-m-40 {
  margin: 40px;
}

.u-mt-40 {
  margin-top: 40px !important;
}

.u-mr-40 {
  margin-right: 40px !important;
}

.u-mb-40 {
  margin-bottom: 40px !important;
}

.u-ml-40 {
  margin-left: 40px !important;
}

.u-m-45 {
  margin: 45px;
}

.u-mt-45 {
  margin-top: 45px !important;
}

.u-mr-45 {
  margin-right: 45px !important;
}

.u-mb-45 {
  margin-bottom: 45px !important;
}

.u-ml-45 {
  margin-left: 45px !important;
}

.u-m-50 {
  margin: 50px;
}

.u-mt-50 {
  margin-top: 50px !important;
}

.u-mr-50 {
  margin-right: 50px !important;
}

.u-mb-50 {
  margin-bottom: 50px !important;
}

.u-ml-50 {
  margin-left: 50px !important;
}

.u-m-55 {
  margin: 55px;
}

.u-mt-55 {
  margin-top: 55px !important;
}

.u-mr-55 {
  margin-right: 55px !important;
}

.u-mb-55 {
  margin-bottom: 55px !important;
}

.u-ml-55 {
  margin-left: 55px !important;
}

.u-m-60 {
  margin: 60px;
}

.u-mt-60 {
  margin-top: 60px !important;
}

.u-mr-60 {
  margin-right: 60px !important;
}

.u-mb-60 {
  margin-bottom: 60px !important;
}

.u-ml-60 {
  margin-left: 60px !important;
}

.u-m-65 {
  margin: 65px;
}

.u-mt-65 {
  margin-top: 65px !important;
}

.u-mr-65 {
  margin-right: 65px !important;
}

.u-mb-65 {
  margin-bottom: 65px !important;
}

.u-ml-65 {
  margin-left: 65px !important;
}

.u-m-70 {
  margin: 70px;
}

.u-mt-70 {
  margin-top: 70px !important;
}

.u-mr-70 {
  margin-right: 70px !important;
}

.u-mb-70 {
  margin-bottom: 70px !important;
}

.u-ml-70 {
  margin-left: 70px !important;
}

.u-m-75 {
  margin: 75px;
}

.u-mt-75 {
  margin-top: 75px !important;
}

.u-mr-75 {
  margin-right: 75px !important;
}

.u-mb-75 {
  margin-bottom: 75px !important;
}

.u-ml-75 {
  margin-left: 75px !important;
}

.u-m-80 {
  margin: 80px;
}

.u-mt-80 {
  margin-top: 80px !important;
}

.u-mr-80 {
  margin-right: 80px !important;
}

.u-mb-80 {
  margin-bottom: 80px !important;
}

.u-ml-80 {
  margin-left: 80px !important;
}

.u-m-85 {
  margin: 85px;
}

.u-mt-85 {
  margin-top: 85px !important;
}

.u-mr-85 {
  margin-right: 85px !important;
}

.u-mb-85 {
  margin-bottom: 85px !important;
}

.u-ml-85 {
  margin-left: 85px !important;
}

.u-m-90 {
  margin: 90px;
}

.u-mt-90 {
  margin-top: 90px !important;
}

.u-mr-90 {
  margin-right: 90px !important;
}

.u-mb-90 {
  margin-bottom: 90px !important;
}

.u-ml-90 {
  margin-left: 90px !important;
}

.u-m-95 {
  margin: 95px;
}

.u-mt-95 {
  margin-top: 95px !important;
}

.u-mr-95 {
  margin-right: 95px !important;
}

.u-mb-95 {
  margin-bottom: 95px !important;
}

.u-ml-95 {
  margin-left: 95px !important;
}

.u-m-100 {
  margin: 100px;
}

.u-mt-100 {
  margin-top: 100px !important;
}

.u-mr-100 {
  margin-right: 100px !important;
}

.u-mb-100 {
  margin-bottom: 100px !important;
}

.u-ml-100 {
  margin-left: 100px !important;
}

@media screen and (min-width: 768px) {
  .u-m-0-pc {
    margin: 0px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-0-pc {
    margin-top: 0px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-0-pc {
    margin-right: 0px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-0-pc {
    margin-bottom: 0px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-0-pc {
    margin-left: 0px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-5-pc {
    margin: 5px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-5-pc {
    margin-top: 5px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-5-pc {
    margin-right: 5px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-5-pc {
    margin-bottom: 5px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-5-pc {
    margin-left: 5px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-10-pc {
    margin: 10px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-10-pc {
    margin-top: 10px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-10-pc {
    margin-right: 10px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-10-pc {
    margin-bottom: 10px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-10-pc {
    margin-left: 10px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-15-pc {
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-15-pc {
    margin-top: 15px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-15-pc {
    margin-right: 15px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-15-pc {
    margin-bottom: 15px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-15-pc {
    margin-left: 15px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-20-pc {
    margin: 20px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-20-pc {
    margin-top: 20px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-20-pc {
    margin-right: 20px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-20-pc {
    margin-bottom: 20px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-20-pc {
    margin-left: 20px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-25-pc {
    margin: 25px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-25-pc {
    margin-top: 25px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-25-pc {
    margin-right: 25px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-25-pc {
    margin-bottom: 25px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-25-pc {
    margin-left: 25px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-30-pc {
    margin: 30px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-30-pc {
    margin-top: 30px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-30-pc {
    margin-right: 30px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-30-pc {
    margin-bottom: 30px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-30-pc {
    margin-left: 30px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-35-pc {
    margin: 35px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-35-pc {
    margin-top: 35px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-35-pc {
    margin-right: 35px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-35-pc {
    margin-bottom: 35px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-35-pc {
    margin-left: 35px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-40-pc {
    margin: 40px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-40-pc {
    margin-top: 40px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-40-pc {
    margin-right: 40px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-40-pc {
    margin-bottom: 40px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-40-pc {
    margin-left: 40px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-45-pc {
    margin: 45px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-45-pc {
    margin-top: 45px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-45-pc {
    margin-right: 45px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-45-pc {
    margin-bottom: 45px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-45-pc {
    margin-left: 45px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-50-pc {
    margin: 50px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-50-pc {
    margin-top: 50px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-50-pc {
    margin-right: 50px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-50-pc {
    margin-bottom: 50px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-50-pc {
    margin-left: 50px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-55-pc {
    margin: 55px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-55-pc {
    margin-top: 55px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-55-pc {
    margin-right: 55px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-55-pc {
    margin-bottom: 55px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-55-pc {
    margin-left: 55px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-60-pc {
    margin: 60px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-60-pc {
    margin-top: 60px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-60-pc {
    margin-right: 60px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-60-pc {
    margin-bottom: 60px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-60-pc {
    margin-left: 60px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-65-pc {
    margin: 65px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-65-pc {
    margin-top: 65px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-65-pc {
    margin-right: 65px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-65-pc {
    margin-bottom: 65px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-65-pc {
    margin-left: 65px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-70-pc {
    margin: 70px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-70-pc {
    margin-top: 70px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-70-pc {
    margin-right: 70px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-70-pc {
    margin-bottom: 70px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-70-pc {
    margin-left: 70px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-75-pc {
    margin: 75px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-75-pc {
    margin-top: 75px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-75-pc {
    margin-right: 75px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-75-pc {
    margin-bottom: 75px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-75-pc {
    margin-left: 75px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-80-pc {
    margin: 80px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-80-pc {
    margin-top: 80px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-80-pc {
    margin-right: 80px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-80-pc {
    margin-bottom: 80px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-80-pc {
    margin-left: 80px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-85-pc {
    margin: 85px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-85-pc {
    margin-top: 85px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-85-pc {
    margin-right: 85px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-85-pc {
    margin-bottom: 85px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-85-pc {
    margin-left: 85px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-90-pc {
    margin: 90px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-90-pc {
    margin-top: 90px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-90-pc {
    margin-right: 90px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-90-pc {
    margin-bottom: 90px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-90-pc {
    margin-left: 90px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-95-pc {
    margin: 95px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-95-pc {
    margin-top: 95px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-95-pc {
    margin-right: 95px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-95-pc {
    margin-bottom: 95px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-95-pc {
    margin-left: 95px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-m-100-pc {
    margin: 100px;
  }
}

@media screen and (min-width: 768px) {
  .u-mt-100-pc {
    margin-top: 100px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mr-100-pc {
    margin-right: 100px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mb-100-pc {
    margin-bottom: 100px !important;
  }
}

@media screen and (min-width: 768px) {
  .u-ml-100-pc {
    margin-left: 100px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-0-sp {
    margin: 0px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-0-sp {
    margin-top: 0px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-0-sp {
    margin-right: 0px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-0-sp {
    margin-bottom: 0px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-0-sp {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-5-sp {
    margin: 5px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-5-sp {
    margin-top: 5px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-5-sp {
    margin-right: 5px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-5-sp {
    margin-bottom: 5px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-5-sp {
    margin-left: 5px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-10-sp {
    margin: 10px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-10-sp {
    margin-top: 10px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-10-sp {
    margin-right: 10px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-10-sp {
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-10-sp {
    margin-left: 10px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-15-sp {
    margin: 15px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-15-sp {
    margin-top: 15px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-15-sp {
    margin-right: 15px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-15-sp {
    margin-bottom: 15px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-15-sp {
    margin-left: 15px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-20-sp {
    margin: 20px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-20-sp {
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-20-sp {
    margin-right: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-20-sp {
    margin-bottom: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-20-sp {
    margin-left: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-25-sp {
    margin: 25px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-25-sp {
    margin-top: 25px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-25-sp {
    margin-right: 25px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-25-sp {
    margin-bottom: 25px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-25-sp {
    margin-left: 25px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-30-sp {
    margin: 30px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-30-sp {
    margin-top: 30px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-30-sp {
    margin-right: 30px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-30-sp {
    margin-bottom: 30px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-30-sp {
    margin-left: 30px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-35-sp {
    margin: 35px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-35-sp {
    margin-top: 35px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-35-sp {
    margin-right: 35px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-35-sp {
    margin-bottom: 35px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-35-sp {
    margin-left: 35px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-40-sp {
    margin: 40px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-40-sp {
    margin-top: 40px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-40-sp {
    margin-right: 40px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-40-sp {
    margin-bottom: 40px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-40-sp {
    margin-left: 40px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-45-sp {
    margin: 45px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-45-sp {
    margin-top: 45px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-45-sp {
    margin-right: 45px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-45-sp {
    margin-bottom: 45px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-45-sp {
    margin-left: 45px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-50-sp {
    margin: 50px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-50-sp {
    margin-top: 50px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-50-sp {
    margin-right: 50px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-50-sp {
    margin-bottom: 50px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-50-sp {
    margin-left: 50px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-55-sp {
    margin: 55px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-55-sp {
    margin-top: 55px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-55-sp {
    margin-right: 55px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-55-sp {
    margin-bottom: 55px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-55-sp {
    margin-left: 55px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-60-sp {
    margin: 60px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-60-sp {
    margin-top: 60px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-60-sp {
    margin-right: 60px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-60-sp {
    margin-bottom: 60px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-60-sp {
    margin-left: 60px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-65-sp {
    margin: 65px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-65-sp {
    margin-top: 65px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-65-sp {
    margin-right: 65px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-65-sp {
    margin-bottom: 65px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-65-sp {
    margin-left: 65px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-70-sp {
    margin: 70px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-70-sp {
    margin-top: 70px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-70-sp {
    margin-right: 70px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-70-sp {
    margin-bottom: 70px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-70-sp {
    margin-left: 70px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-75-sp {
    margin: 75px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-75-sp {
    margin-top: 75px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-75-sp {
    margin-right: 75px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-75-sp {
    margin-bottom: 75px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-75-sp {
    margin-left: 75px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-80-sp {
    margin: 80px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-80-sp {
    margin-top: 80px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-80-sp {
    margin-right: 80px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-80-sp {
    margin-bottom: 80px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-80-sp {
    margin-left: 80px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-85-sp {
    margin: 85px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-85-sp {
    margin-top: 85px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-85-sp {
    margin-right: 85px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-85-sp {
    margin-bottom: 85px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-85-sp {
    margin-left: 85px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-90-sp {
    margin: 90px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-90-sp {
    margin-top: 90px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-90-sp {
    margin-right: 90px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-90-sp {
    margin-bottom: 90px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-90-sp {
    margin-left: 90px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-95-sp {
    margin: 95px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-95-sp {
    margin-top: 95px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-95-sp {
    margin-right: 95px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-95-sp {
    margin-bottom: 95px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-95-sp {
    margin-left: 95px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-m-100-sp {
    margin: 100px;
  }
}

@media screen and (max-width: 768px) {
  .u-mt-100-sp {
    margin-top: 100px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mr-100-sp {
    margin-right: 100px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-mb-100-sp {
    margin-bottom: 100px !important;
  }
}

@media screen and (max-width: 768px) {
  .u-ml-100-sp {
    margin-left: 100px !important;
  }
}

.u-mr-a {
  margin-right: auto;
}

.u-m0a {
  margin-right: auto !important;
  margin-left: auto !important;
}

.u-p-0 {
  padding: 0px;
}

.u-pt-0 {
  padding-top: 0px !important;
}

.u-pr-0 {
  padding-right: 0px !important;
}

.u-pb-0 {
  padding-bottom: 0px !important;
}

.u-pl-0 {
  padding-left: 0px !important;
}

.u-p-5 {
  padding: 5px;
}

.u-pt-5 {
  padding-top: 5px !important;
}

.u-pr-5 {
  padding-right: 5px !important;
}

.u-pb-5 {
  padding-bottom: 5px !important;
}

.u-pl-5 {
  padding-left: 5px !important;
}

.u-p-10 {
  padding: 10px;
}

.u-pt-10 {
  padding-top: 10px !important;
}

.u-pr-10 {
  padding-right: 10px !important;
}

.u-pb-10 {
  padding-bottom: 10px !important;
}

.u-pl-10 {
  padding-left: 10px !important;
}

.u-p-15 {
  padding: 15px;
}

.u-pt-15 {
  padding-top: 15px !important;
}

.u-pr-15 {
  padding-right: 15px !important;
}

.u-pb-15 {
  padding-bottom: 15px !important;
}

.u-pl-15 {
  padding-left: 15px !important;
}

.u-p-20 {
  padding: 20px;
}

.u-pt-20 {
  padding-top: 20px !important;
}

.u-pr-20 {
  padding-right: 20px !important;
}

.u-pb-20 {
  padding-bottom: 20px !important;
}

.u-pl-20 {
  padding-left: 20px !important;
}

.u-p-25 {
  padding: 25px;
}

.u-pt-25 {
  padding-top: 25px !important;
}

.u-pr-25 {
  padding-right: 25px !important;
}

.u-pb-25 {
  padding-bottom: 25px !important;
}

.u-pl-25 {
  padding-left: 25px !important;
}

.u-p-30 {
  padding: 30px;
}

.u-pt-30 {
  padding-top: 30px !important;
}

.u-pr-30 {
  padding-right: 30px !important;
}

.u-pb-30 {
  padding-bottom: 30px !important;
}

.u-pl-30 {
  padding-left: 30px !important;
}

.u-p-35 {
  padding: 35px;
}

.u-pt-35 {
  padding-top: 35px !important;
}

.u-pr-35 {
  padding-right: 35px !important;
}

.u-pb-35 {
  padding-bottom: 35px !important;
}

.u-pl-35 {
  padding-left: 35px !important;
}

.u-p-40 {
  padding: 40px;
}

.u-pt-40 {
  padding-top: 40px !important;
}

.u-pr-40 {
  padding-right: 40px !important;
}

.u-pb-40 {
  padding-bottom: 40px !important;
}

.u-pl-40 {
  padding-left: 40px !important;
}

.u-p-45 {
  padding: 45px;
}

.u-pt-45 {
  padding-top: 45px !important;
}

.u-pr-45 {
  padding-right: 45px !important;
}

.u-pb-45 {
  padding-bottom: 45px !important;
}

.u-pl-45 {
  padding-left: 45px !important;
}

.u-p-50 {
  padding: 50px;
}

.u-pt-50 {
  padding-top: 50px !important;
}

.u-pr-50 {
  padding-right: 50px !important;
}

.u-pb-50 {
  padding-bottom: 50px !important;
}

.u-pl-50 {
  padding-left: 50px !important;
}

.u-p-55 {
  padding: 55px;
}

.u-pt-55 {
  padding-top: 55px !important;
}

.u-pr-55 {
  padding-right: 55px !important;
}

.u-pb-55 {
  padding-bottom: 55px !important;
}

.u-pl-55 {
  padding-left: 55px !important;
}

.u-p-60 {
  padding: 60px;
}

.u-pt-60 {
  padding-top: 60px !important;
}

.u-pr-60 {
  padding-right: 60px !important;
}

.u-pb-60 {
  padding-bottom: 60px !important;
}

.u-pl-60 {
  padding-left: 60px !important;
}

.u-p-65 {
  padding: 65px;
}

.u-pt-65 {
  padding-top: 65px !important;
}

.u-pr-65 {
  padding-right: 65px !important;
}

.u-pb-65 {
  padding-bottom: 65px !important;
}

.u-pl-65 {
  padding-left: 65px !important;
}

.u-p-70 {
  padding: 70px;
}

.u-pt-70 {
  padding-top: 70px !important;
}

.u-pr-70 {
  padding-right: 70px !important;
}

.u-pb-70 {
  padding-bottom: 70px !important;
}

.u-pl-70 {
  padding-left: 70px !important;
}

.u-p-75 {
  padding: 75px;
}

.u-pt-75 {
  padding-top: 75px !important;
}

.u-pr-75 {
  padding-right: 75px !important;
}

.u-pb-75 {
  padding-bottom: 75px !important;
}

.u-pl-75 {
  padding-left: 75px !important;
}

.u-p-80 {
  padding: 80px;
}

.u-pt-80 {
  padding-top: 80px !important;
}

.u-pr-80 {
  padding-right: 80px !important;
}

.u-pb-80 {
  padding-bottom: 80px !important;
}

.u-pl-80 {
  padding-left: 80px !important;
}

.u-p-85 {
  padding: 85px;
}

.u-pt-85 {
  padding-top: 85px !important;
}

.u-pr-85 {
  padding-right: 85px !important;
}

.u-pb-85 {
  padding-bottom: 85px !important;
}

.u-pl-85 {
  padding-left: 85px !important;
}

.u-p-90 {
  padding: 90px;
}

.u-pt-90 {
  padding-top: 90px !important;
}

.u-pr-90 {
  padding-right: 90px !important;
}

.u-pb-90 {
  padding-bottom: 90px !important;
}

.u-pl-90 {
  padding-left: 90px !important;
}

.u-p-95 {
  padding: 95px;
}

.u-pt-95 {
  padding-top: 95px !important;
}

.u-pr-95 {
  padding-right: 95px !important;
}

.u-pb-95 {
  padding-bottom: 95px !important;
}

.u-pl-95 {
  padding-left: 95px !important;
}

.u-p-100 {
  padding: 100px;
}

.u-pt-100 {
  padding-top: 100px !important;
}

.u-pr-100 {
  padding-right: 100px !important;
}

.u-pb-100 {
  padding-bottom: 100px !important;
}

.u-pl-100 {
  padding-left: 100px !important;
}

@media screen and (min-width: 768px) {
  .u-w-0-pc {
    width: 0% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-5-pc {
    width: 5% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-10-pc {
    width: 10% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-15-pc {
    width: 15% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-20-pc {
    width: 20% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-25-pc {
    width: 25% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-30-pc {
    width: 30% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-35-pc {
    width: 35% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-40-pc {
    width: 40% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-45-pc {
    width: 45% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-50-pc {
    width: 50% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-55-pc {
    width: 55% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-60-pc {
    width: 60% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-65-pc {
    width: 65% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-70-pc {
    width: 70% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-75-pc {
    width: 75% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-80-pc {
    width: 80% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-85-pc {
    width: 85% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-90-pc {
    width: 90% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-95-pc {
    width: 95% !important;
  }
}

@media screen and (min-width: 768px) {
  .u-w-100-pc {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-0-sp {
    width: 0% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-5-sp {
    width: 5% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-10-sp {
    width: 10% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-15-sp {
    width: 15% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-20-sp {
    width: 20% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-25-sp {
    width: 25% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-30-sp {
    width: 30% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-35-sp {
    width: 35% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-40-sp {
    width: 40% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-45-sp {
    width: 45% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-50-sp {
    width: 50% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-55-sp {
    width: 55% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-60-sp {
    width: 60% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-65-sp {
    width: 65% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-70-sp {
    width: 70% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-75-sp {
    width: 75% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-80-sp {
    width: 80% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-85-sp {
    width: 85% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-90-sp {
    width: 90% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-95-sp {
    width: 95% !important;
  }
}

@media screen and (max-width: 768px) {
  .u-w-100-sp {
    width: 100% !important;
  }
}

.u-w-0px {
  width: 0px !important;
}

.u-w-5px {
  width: 5px !important;
}

.u-w-10px {
  width: 10px !important;
}

.u-w-15px {
  width: 15px !important;
}

.u-w-20px {
  width: 20px !important;
}

.u-w-25px {
  width: 25px !important;
}

.u-w-30px {
  width: 30px !important;
}

.u-w-35px {
  width: 35px !important;
}

.u-w-40px {
  width: 40px !important;
}

.u-w-45px {
  width: 45px !important;
}

.u-w-50px {
  width: 50px !important;
}

.u-w-55px {
  width: 55px !important;
}

.u-w-60px {
  width: 60px !important;
}

.u-w-65px {
  width: 65px !important;
}

.u-w-70px {
  width: 70px !important;
}

.u-w-75px {
  width: 75px !important;
}

.u-w-80px {
  width: 80px !important;
}

.u-w-85px {
  width: 85px !important;
}

.u-w-90px {
  width: 90px !important;
}

.u-w-95px {
  width: 95px !important;
}

.u-w-100px {
  width: 100px !important;
}

.u-w-105px {
  width: 105px !important;
}

.u-w-110px {
  width: 110px !important;
}

.u-w-115px {
  width: 115px !important;
}

.u-w-120px {
  width: 120px !important;
}

.u-w-125px {
  width: 125px !important;
}

.u-w-130px {
  width: 130px !important;
}

.u-w-135px {
  width: 135px !important;
}

.u-w-140px {
  width: 140px !important;
}

.u-w-145px {
  width: 145px !important;
}

.u-w-150px {
  width: 150px !important;
}

.u-w-155px {
  width: 155px !important;
}

.u-w-160px {
  width: 160px !important;
}

.u-w-165px {
  width: 165px !important;
}

.u-w-170px {
  width: 170px !important;
}

.u-w-175px {
  width: 175px !important;
}

.u-w-180px {
  width: 180px !important;
}

.u-w-185px {
  width: 185px !important;
}

.u-w-190px {
  width: 190px !important;
}

.u-w-195px {
  width: 195px !important;
}

.u-w-200px {
  width: 200px !important;
}

.u-w-205px {
  width: 205px !important;
}

.u-w-210px {
  width: 210px !important;
}

.u-w-215px {
  width: 215px !important;
}

.u-w-220px {
  width: 220px !important;
}

.u-w-225px {
  width: 225px !important;
}

.u-w-230px {
  width: 230px !important;
}

.u-w-235px {
  width: 235px !important;
}

.u-w-240px {
  width: 240px !important;
}

.u-w-245px {
  width: 245px !important;
}

.u-w-250px {
  width: 250px !important;
}

.u-w-255px {
  width: 255px !important;
}

.u-w-260px {
  width: 260px !important;
}

.u-w-265px {
  width: 265px !important;
}

.u-w-270px {
  width: 270px !important;
}

.u-w-275px {
  width: 275px !important;
}

.u-w-280px {
  width: 280px !important;
}

.u-w-285px {
  width: 285px !important;
}

.u-w-290px {
  width: 290px !important;
}

.u-w-295px {
  width: 295px !important;
}

.u-w-300px {
  width: 300px !important;
}

.u-w-305px {
  width: 305px !important;
}

.u-w-310px {
  width: 310px !important;
}

.u-w-315px {
  width: 315px !important;
}

.u-w-320px {
  width: 320px !important;
}

.u-w-325px {
  width: 325px !important;
}

.u-w-330px {
  width: 330px !important;
}

.u-w-335px {
  width: 335px !important;
}

.u-w-340px {
  width: 340px !important;
}

.u-w-345px {
  width: 345px !important;
}

.u-w-350px {
  width: 350px !important;
}

.u-w-355px {
  width: 355px !important;
}

.u-w-360px {
  width: 360px !important;
}

.u-w-365px {
  width: 365px !important;
}

.u-w-370px {
  width: 370px !important;
}

.u-w-375px {
  width: 375px !important;
}

.u-w-380px {
  width: 380px !important;
}

.u-w-385px {
  width: 385px !important;
}

.u-w-390px {
  width: 390px !important;
}

.u-w-395px {
  width: 395px !important;
}

.u-w-400px {
  width: 400px !important;
}

.u-w-405px {
  width: 405px !important;
}

.u-w-410px {
  width: 410px !important;
}

.u-w-415px {
  width: 415px !important;
}

.u-w-420px {
  width: 420px !important;
}

.u-w-425px {
  width: 425px !important;
}

.u-w-430px {
  width: 430px !important;
}

.u-w-435px {
  width: 435px !important;
}

.u-w-440px {
  width: 440px !important;
}

.u-w-445px {
  width: 445px !important;
}

.u-w-450px {
  width: 450px !important;
}

.u-w-455px {
  width: 455px !important;
}

.u-w-460px {
  width: 460px !important;
}

.u-w-465px {
  width: 465px !important;
}

.u-w-470px {
  width: 470px !important;
}

.u-w-475px {
  width: 475px !important;
}

.u-w-480px {
  width: 480px !important;
}

.u-w-485px {
  width: 485px !important;
}

.u-w-490px {
  width: 490px !important;
}

.u-w-495px {
  width: 495px !important;
}

.u-w-500px {
  width: 500px !important;
}

.u-w-auto {
  width: auto;
}

.u-text--center {
  text-align: center;
}
