.c-button {
  width: 100%;
  display: inline-block;
  max-width: 100%;
  padding: 10px 15px;
  background-color: $primary-color;
  border-radius: 3px;
  color: $light-color;
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
  text-decoration: none;
  transition: .25s;
  $this:&;
  &:focus, &:hover {
    background-color: $primary-dark-color;
    color: $light-color;
  }
  &--secondary {
    @extend #{$this};
    background-color: $secondary-color;
    &:focus, &:hover {
      background-color: $secondary-dark-color;
    }
  }
  &--warning {
    @extend #{$this};
    background-color: $warning-color;
    &:focus, &:hover {
      background-color: $warning-dark-color;
    }
  }
}
