.u-db {
  display: block !important;
}
.u-df {
  display: flex;
}

.u-dib {
  display: inline-block;
}

.u-ff-column {
  flex-flow: column wrap;
}

.u-ff-row {
  flex-flow: row wrap;
}

.u-jc-center {
  justify-content: center;
}

.u-as-center {
  align-self: center;
}

.u-dn-sp {
  @include max-screen($breakpoint-pc) {
    display: none;
  }
}

.u-dn-pc {
  display: none;
  @include max-screen($breakpoint-pc) {
    display: block;
  }
}

.u-indent {
  text-indent: $base-font-size;
}

.u-indent-1 {
  padding-left:1em;
  text-indent:-1em;
}

@for $i from 0 through 100 {
  .u-fs-#{$i * 1} {
    font-size: #{$i * 0.1}rem !important;
  }
}
